tr.clickable-row {
  cursor: pointer;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  color: #4d4d4d !important;
}

.select2-container .select2-selection--single {
  height: calc(2.25rem + 2px) !important;
}
